body {
  font-family: Arial, Helvetica, sans-serif;
}

.helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

.bold {
  font-weight: 300;
}

.underline-gold {
  text-decoration: underline solid goldenrod 2px;
  text-underline-position: under;
}

.hero-section h1 {color: goldenrod;
                  /* margin: auto 75px; */
                  /* text-align: center; */
                /* border: red solid 1px;} */}

.hero-section {
  /* background-image: url(images/dean-pugh-C8NDn4xk9zs-unsplash.jpg); */
  /* background-image: url(images/rene-bohmer-YeUVDKZWSZ4-unsplash.jpg ); */
  /* background-image: url(images/fatos-bytyqi-Agx5_TLsIf4-unsplash.jpg); */
  background:linear-gradient(
    rgba(0, 46, 49, 0.65), 
    rgba(0, 46, 49, 0.65)
  ), url(images/thisisengineering-raeng-iQqRM0XJvn8-unsplash.jpg);
  /* background-image: url(images/luca-bravo-alS7ewQ41M8-unsplash.jpg); */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  min-height: 500px;
  color: goldenrod;
  text-align: center;
  display: flex !important;
  flex-direction: column;
  justify-content: center!important;
}

.flex-justify{
  text-align: center;
  display: flex !important;
  flex-direction: column;
  justify-content: center!important;
}

.home-body {
  margin: 1em 10%;
}

.center-video {
  margin: 0 auto;
}

.proj-btn {
  border-color: rgba(0, 46, 49);
  color:rgba(0, 46, 49);
  margin: 1em; 
}
.proj-btn:hover{
  border-color: rgba(0, 46, 49);
  background-color:rgba(0, 46, 49);
  color:white;
  margin: 1em; 
}

.hero-title {
  font-size: 1.75em;
}

.content {
  /* padding: 16px; */
}

.accordion-body {
  padding: 2em 6em;
  }

  .link-div{
    margin: 1.2em .2em;
  }

.card {
  margin: 3em;
}

.rounded-img img{
  border-radius: 15%;
  margin: 0 2em;
}

.projects-wrapper {
  /* border: goldenrod 2px solid; */
}
.about-section{
  display: flex;
  /* max-width: 600px; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.project-cards {
  /* background-color: rgb(255, 253, 248); */
  /* border: rgb(189, 215, 216) solid 1px;  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.underline {
  text-decoration: underline;
}

.no-bullet {
  list-style: none
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.cent-col-container {
  max-width: fit-content;
    display: block;
    margin: 0 auto;
}

.flex-one {
  flex-grow: 1;
}

.flex-two {
  flex-grow: 2;
}

.navbar {
  background-color: #002E31 !important;
  width: 100%;
}

/* .navbar {
  background-color: #73d1d8 !important;
} */

.navbar-brand { color: goldenrod !important;
                padding-left: 1em;
              }

.navbar li a{
  color: white !important;
}

.nav-link {
  color: white !important;
}

.accordion-button{
  color:#002E31 ;
}

.accordion-button:not(.collapsed){
  color:#002E31 ;
  background-color: rgb(189, 215, 216);
}

.accordion-button:focus {
  border-color: rgb(185, 29, 172);
}

.profile-image img {
  max-width: 150px;
}

.profile-text {
  max-width: 400px;
}

.hide {
  display: none;
}

.inline-block{
  display: inline-block;
}

.golden{
  color: goldenrod;
}

.green-bg {
  background-color: #002E31 
}
